<div class="bodyContent">
  <div class="loginContent">
    <figure>
      <img src="../../assets/images/login-illustration.png" alt="" />
    </figure>
    <div>
      <form action="">
        <h2>Welcome!</h2>
        <div class="textbox">
          <input type="text" placeholder="Username" #userName required />
        </div>
        <div class="textbox pswd">
          <input type="password" placeholder="Password" #password required />
        </div>
        <!-- <div class="forgotPswd">Forget Password?</div> -->
        <button class="formButton" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>
