@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w194ei');
  src:  url('fonts/icomoon.eot?w194ei#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w194ei') format('truetype'),
    url('fonts/icomoon.woff?w194ei') format('woff'),
    url('fonts/icomoon.svg?w194ei#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-about-us:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-fixture:before {
  content: "\e903";
}
.icon-login:before {
  content: "\e904";
}
.icon-password:before {
  content: "\e905";
}
.icon-results:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-spinner:before {
  content: "\e97a";
}
